__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

static/uploads/*
!static/uploads/.gitkeep

static/analysis/*
!static/analysis/.gitkeep

static/css/uploads/*
!static/css/uploads/.gitkeep

runs/

.DS_Store
.vscode/
*.log
